
body{
    display:flex;
    justify-content:center;
    background-color:#5a1863;
    flex-direction:column;
    font-size:9px;
}
/* #5a1863 */
.data-grey{
    background-color:#694067;
}
.data-white{
    background-color:#A86CA5;
}

.data{
    color:#EDF0D1;
}
h1{
    color:white;
}

p{
    color:red;
}

a{
    color:black;
}

.header{
    color:white;
}

.errorMsg{
    font-size:30px;
}